/* from general to specific */
fieldset{
	border-radius:10px;
}
.floatLeft{
	float:left;
}
.container{
	font-family:sans-serif;
	width:90%;
	min-width:1000px;
}
.containerData{
	border-radius:10px;
	position:relative;
	left:2%;
	background-color:gray;
	color:#FFFFFF;
}
.block{
	display:block;
}
.info{
	background-color:#FFFAAE;
}
.txtValuesForArray{
	width:300px;
}
.result{
	margin:20px 0;
	border-radius:10px;
	padding:0 5px;
	background-color:#CCCCCC;
}
.hide{
	visibility:hidden;
}
.optionHide{
	visibility:hidden;
	opacity:0;
}
.jsRowData{
	padding:3px 8px;
	background-color:gray;
}
.jsTransistion{
    opacity:1.0;
    transition:opacity 2s;
    -webkit-transition:opacity 2s; /* Safari 3.1 to 6.0 */	
}
.jsLabelText{
	display:inline-block;
	padding:0 10px 0 0;
}
.jsTextContainer{
	display:block;
}
.jsCellContentsRight{
	padding-right:5px;
}
.jsCellContentsLeft{
	padding-left:5px;
}


